# nextjs 빌드 시 환경변수 앞에 NEXT_PUBLIC_ 붙여야함
# 즉 client component에서의 환경변수는 NEXT_PUBLIC_ 붙여야함
# https://nextjs.org/docs/app/building-your-application/configuring/environment-variables
NEXT_PUBLIC_HOSTNAME=
NEXT_PUBLIC_DOCKER_HOST=

BACKEND_API_ENDPOINT=
JWT_COOKIE_NAME= 
PORT=